
/* COMMON */

html{
    font-size: 100%;
    background-color: aqua;
}

/* HEADER */

.header_container{
    background-color: #2c3e50;
    height: 5rem;
    line-height: 5rem;
}

.logo_wrapper{
    /* TEST */
    background-color: antiquewhite;
}

.icon_wrapper{
    /* TEST */
    background-color: aquamarine;
}

/* MAIN */

/* jumbotron */
.jumbotron_section{
    height: 25rem;
    /* TEST */
    background-color: #1abc9c;
}

.jumbotron_wrapper{
    height: 25rem;
    width: 100%;
    /* TEST */
    background-color: coral;
}

/* portfolio */
.portfolio_section{
    /* TEST */
    padding: 3rem 0;
    background-color: chartreuse;
}

.portfolio_section h2{
    text-align: center;
}

/* portfolio common */
.portfolio_section .img_wrp{
    width: 100%;
    height: 22rem;
    border-radius: 10px;
    flex-wrap: wrap;
}

/* media query md */
@media all and (min-width: 768px) {
    .portfolio_section .img_wrp{
        height: 15rem;
    }
}

/* media query lg */
@media all and (min-width: 992px) {
    .portfolio_section .img_wrp{
        height: 12rem;
    }
}



/* portfolio house wrap */
.portfolio_section .house_wrp{
    /* TEST */
    background-color:#ba4b63 ;
}

/* portfolio house wrap */
.portfolio_section .cake_wrp{
    /* TEST */
    background-color:#1ea4b6 ;
}

/* portfolio tent wrap */
.portfolio_section .tent_wrp{
    /* TEST */
    background-color:#140f0f ;
}

/* portfolio game wrap */
.portfolio_section .game_wrp{
    /* TEST */
    background-color:#1c83c1 ;
}

/* portfolio safe wrap */
.portfolio_section .safe_wrp{
    /* TEST */
    background-color:#0e38b5 ;
}

/* portfolio submarine wrap */
.portfolio_section .submarine_wrp{
    /* TEST */
    background-color:#ccb2a3 ;
}

/* about section */
.about_section{
    background-color:#1abc9c;
    /* TEST */
    /* height: 20rem; */
}

.about_wrap{
    background-color: cyan;
    width: 100%;
    /* TEST */
    height: 22rem;
}

/* contact me section  */
.contactme_section{
    /* TEST */
    height: 25rem;
}

/* info section */
.info_section{
    background-color: #3a546d;
 
}

.info_wrap{
    /* TEST */
    background-color: red;
    border: 2px solid green;
}

/* footer */
.footer_section{
    width: 100%;
    background-color: #2c3e50;
}
.footer_wrap{
    
}