/* RESET */

img{
    width: 100%;
}

/* COMMON */

:root{
    --ms_primary-color: #1abc9c;
    --ms_secondary-color: white; 
    --ms_third-color: #3a546d;
    --ms_primary-text-color: white;
}

html{
    font-size: 100%;
    background-color: aqua;
}

/* star */
.ms_star{
    font-size: 2rem;
    color: black;
}

.ms_star::before,
.ms_star::after{
    content: "";
    width: 5rem;
    height: 3px;
    background-color: black;
    display: inline-block;
    vertical-align: super;
}

/* portfolio */
.ms_img_wrp{
    width: 100%;
    border-radius: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/* HEADER */

/* nav */
.ms_navbar{
 background-color: var(--ms_third-color);
}

.ms_navbar .nav-link,
.ms_navbar .navbar-brand{
    color: var(--ms_primary-text-color) ;
    text-transform: uppercase;
    font-weight: 550;
}

.ms_navbar .navbar-toggler i{
    color: var(--ms_primary-text-color );
}

/* MAIN */

/* jumbotron */
.ms_jumbotron_section{
    background-color: var(--ms_primary-color);
    color: var(--ms_primary-text-color);;
}

.ms_jumbotron_section img{
    width: 10rem;
}

.ms_jumbotron_section .ms_star::before,
.ms_jumbotron_section .ms_star::after{
    background-color: var(--ms_primary-text-color);
}

.ms_jumbotron_section .ms_star{
    color:var(--ms_primary-text-color)
}

/* portfolio */
.portfolio_section{
    padding: 3rem 0;
    background-color: var(--ms_secondary-color);
}


/* portfolio house wrap */
.portfolio_section .house_wrp{
    background-color:#ba4b63 ;
}

/* portfolio house wrap */
.portfolio_section .cake_wrp{
    background-color:#1ea4b6 ;
}

/* portfolio tent wrap */
.portfolio_section .tent_wrp{
    background-color:#140f0f ;
}

/* portfolio game wrap */
.portfolio_section .game_wrp{
    background-color:#1c83c1 ;
}

/* portfolio safe wrap */
.portfolio_section .safe_wrp{
    background-color:#0e38b5 ;
}

/* portfolio submarine wrap */
.portfolio_section .submarine_wrp{
    background-color:#ccb2a3 ;
}

/* about section */
.ms_about_section{
    background-color:var(--ms_primary-color);
    color: var(--ms_primary-text-color);
}

.ms_about_section .ms_star{
    color: var(--ms_primary-text-color);
}

.ms_about_section .ms_star::before,
.ms_about_section .ms_star::after{
    background-color: var(--ms_primary-text-color);
}


/* contact me section  */
.ms_contactme_section .ms_star{
    color: var(--ms_third-color);
}

.ms_contactme_section .ms_star::before,
.ms_contactme_section .ms_star::after{
    background-color: var(--ms_third-color);
}

.ms_form_contact{
    padding: 1rem 0;
}

.ms_form_contact .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
}

.ms_form_contact .form-control:focus{
    box-shadow: none;
}

.ms_contactme_section textarea{
    min-height: 150px;
}

.ms_contactme_section button{
    color: var(--ms_primary-text-color);
    background-color: var(--ms_primary-color);
    text-align: start;
}


/* info section */
.info_section{
    background-color: #3a546d;
 
}

.info_wrap{
    /* TEST */
    background-color: red;
    border: 2px solid green;
}

/* footer */
.footer_section{
    width: 100%;
    background-color: #2c3e50;
}
.footer_wrap{
    
}