
/* COMMON */
:root{
    --ms_primary-color: #1abc9c;
    --ms_secondary-color: #3a546d; 
    --ms_primary-text-color: white;
}

html{
    font-size: 100%;
    background-color: aqua;
}

body{
    width: 100%;
}


/* HEADER */

.ms_navbar{
 background-color: var(--ms_secondary-color);
}

.ms_navbar .nav-link,
.ms_navbar .navbar-brand{
    color: var(--ms_primary-text-color) ;
    text-transform: uppercase;
    font-weight: 550;
}

.ms_navbar .navbar-toggler span i{
    color: var(--ms_primary-text-color );
}

.logo_wrapper{
    /* TEST */
    background-color: antiquewhite;
}

.icon_wrapper{
    /* TEST */
    background-color: aquamarine;
}

/* MAIN */

/* jumbotron */
.jumbotron_section{
    /* height: 25rem; */
    /* TEST */
    background-color: #1abc9c;
}

.ms_jumbotron_wrapper{
    /* height: 25rem; */
    width: 100%;
    /* TEST */
    background-color: coral;
}

.ms_jumbotron_wrapper .container{
    text-align: center;
    color: white;
}

.ms_jumbotron_wrapper img{
    width: 40%;
}

.ms_bootstrap_title h1{
    text-transform: uppercase;
    padding:1rem 0;
}

/* .ms_rule_and_star{
    height: 2.2rem;
}

.ms_rule_and_star i{
    vertical-align: middle;
}

.ms_rule{
    margin:1rem 0 ;
    width: 6rem;
    height: .2rem;
    background-color: white; 
} */

/* portfolio */
.portfolio_section{
    /* TEST */
    padding: 3rem 0;
    background-color: chartreuse;
}

.portfolio_section h2{
    text-align: center;
}

/* portfolio common */
.ms_img_wrp{
    width: 100%;
    border-radius: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ms_img_wrp img{
    width: 100%;
}

/* media query md */
/* @media all and (min-width: 768px) {
    .portfolio_section .ms_img_wrp{
        height: 15rem;
    }
} */

/* media query lg */
/* @media all and (min-width: 992px) {
    .portfolio_section .ms_img_wrp{
        height: 12rem;
    }
} */



/* portfolio house wrap */
.portfolio_section .house_wrp{
    /* TEST */
    background-color:#ba4b63 ;
}

/* portfolio house wrap */
.portfolio_section .cake_wrp{
    /* TEST */
    background-color:#1ea4b6 ;
}

/* portfolio tent wrap */
.portfolio_section .tent_wrp{
    /* TEST */
    background-color:#140f0f ;
}

/* portfolio game wrap */
.portfolio_section .game_wrp{
    /* TEST */
    background-color:#1c83c1 ;
}

/* portfolio safe wrap */
.portfolio_section .safe_wrp{
    /* TEST */
    background-color:#0e38b5 ;
}

/* portfolio submarine wrap */
.portfolio_section .submarine_wrp{
    /* TEST */
    background-color:#ccb2a3 ;
}

/* about section */
.about_section{
    background-color:#1abc9c;
    /* TEST */

}

.about_wrap{
    background-color: cyan;
    width: 100%;
    /* TEST */
    height: 22rem;
}

/* contact me section  */
.contactme_section{
    /* TEST */
    height: 25rem;
}

.ms_form_contact{
    padding: 2rem 0;
}

.ms_form_contact .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.ms_form_contact .form-control:focus{
    box-shadow: none;
}


/* info section */
.info_section{
    background-color: #3a546d;
 
}

.info_wrap{
    /* TEST */
    background-color: red;
    border: 2px solid green;
}

/* footer */
.footer_section{
    width: 100%;
    background-color: #2c3e50;
}
.footer_wrap{
    
}